<div class="banner-text" *ngIf="myFlag">
  HELLO! I'M A NEW COMPONENT!!!!  Welcome {{ changedName }}!
</div>
<div>
    <button class="toggle-button" (click)="toggleDoSomething()">Toggle Cool</button>
</div>
<div>
    <button class="cool-button" *ngIf="showCool" (click)="doSomethingCool()">COOL!</button>
</div>
